name: Build and Publish

on:
  release:
    types: [published, unpublished]
    branches:
      - main

jobs:
  set-commit-hash:
    name: A commit hash of the latest release
    runs-on: ubuntu-latest
    outputs:
      commit_hash: ${{ steps.commit-hash.outputs.commit_hash }}
    steps:
      - uses: actions/checkout@v3
        name: Checkout the repo
      - id: commit-hash
        name: Grab the commit hash
        uses: ottofeller/github-actions/latest-release-commit-hash@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  typecheck:
    name: Validate code with tsc
    runs-on: ubuntu-latest
    steps:
      - uses: ottofeller/github-actions/npm-run@main
        with:
          command: npm run typecheck

  lint:
    name: Lint code with ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: ottofeller/github-actions/npm-run@main
        with:
          command: npm run lint

  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: ottofeller/github-actions/npm-run@main
        with:
          command: npm run test -- --all --verbose

  publish-npm:
    name: Build and Publish npm package
    needs: [set-commit-hash, typecheck, lint, test]
    runs-on: ubuntu-latest
    steps:
      - uses: ottofeller/github-actions/publish-npm@main
        with:
          ref: ${{ needs.set-commit-hash.outputs.commit_hash }}
          scope: "@zerosecrets"
          include-build-step: true
          npm-token: ${{ secrets.NPM_TOKEN }}
